
.container {
  width: 50%;
  margin: 5rem auto 0 auto;
}

.calculator {
  background: #1C1C1C;
  max-width: 15rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  /* add box shadow */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
